/* Base Color */
:root {
  --dark-blue-primary: hsl(218, 28%, 13%);
  --dark-blue-secondary: hsl(216, 53%, 9%);
  --dark-blue-100: hsl(217, 28%, 15%);
  --dark-blue-200: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}
/* /Base Color */

/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
/* /Base Styles */

/* Custom Classes */
.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
/* /Custom Classes */

/*********** /Mobile View ***********/
/* Wrapper & Container */
.intro-wrapper {
  background-color: var(--dark-blue-100);
}

.main-wrapper {
  background-color: var(--dark-blue-primary);
}

.footer-wrapper {
  background-color: var(--dark-blue-secondary);
}

.container {
  padding: 40px 30px;
  max-width: 700px;
  position: relative;
  /* background-color: var(--dark-blue-primary); */
}
/* /Wrapper & Container */

/* Navbar */
.navbar {
  align-items: center;
  justify-content: space-between;
}

.navbar__items {
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.navbar__item {
  font-size: 24px;
  margin-left: 50px;
}
/* /Navbar */

/* Hero */
.hero {
  /* color: var(--dark-blue-100); */
  padding-top: 70px;
  justify-content: center;
  align-items: center;
}

.hero__image-wrapper {
  position: relative;
}

.hero__image {
  width: 100%;
}

.hero__image__mobile {
  position: absolute;
  left: 0;
  bottom: 0;
  border: red 1px solid;
  width: 100%;
}

.hero__content {
  margin-top: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero__heading {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
}

.hero__info {
  font-family: inherit;
  font-weight: 400;
  margin-top: 20px;
  font-size: 28px;
  line-height: 43px;
}

.hero__btn {
  background-color: var(--cyan);
  color: var(--white);
  border: none;
  font-size: 28px;
  font-weight: 700;
  margin-top: 50px;
  border-radius: 50px;
  height: 100px;
  width: 500px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, var(--cyan), var(--blue));
}
/* /Hero */

/* Features */
.features {
  padding: 70px 0;
}

/* .features__wrapper {
  padding-bottom: 50px;
} */

.features__card {
  padding-top: 160px;
  text-align: center;
}

.features__card__img-wrapper {
  padding-bottom: 50px;
}

.features__card__img {
  width: auto;
  height: 120px;
}

.features__card__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 68px;
}

.features__card__info {
  font-family: inherit;
  font-weight: 400;
  margin-top: 10px;
  font-size: 24px;
  line-height: 43px;
}

/* /Features */

/* Team */
.team {
  padding-top: 290px;
}

.team__image {
  width: 100%;
}

.team__description {
  padding-top: 80px;
}

.team__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 40px;
}

.team__info {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
}

.team__info p {
  padding-bottom: 40px;
}

.team__info__btn-wrapper {
  max-width: 255px;
  border-bottom: 1px solid var(--cyan);
}

.team__info__btn {
  font-size: 24px;
  color: var(--cyan);
  background-color: transparent;
  border: none;
  margin-right: 10px;
  padding-bottom: 10px;
}

.footer__location__logo,
.footer__mobile__logo,
.footer__mail__logo {
  width: 30px;
  height: 30px;
}
/* /Team */

/* Testimonials */
.testimonials {
  padding-top: 270px;
  padding-bottom: 540px;
}

.quote-img {
  position: absolute;
  left: -20px;
  top: -30px;
  z-index: 4;
  width: 40px;
  height: 35px;
  margin-left: 10px;
  /* transform: translate(-30px, -80px); */
}

.testimonials__card {
  position: relative;
  z-index: 5;
  background-color: var(--dark-blue-200);
  padding: 50px 45px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px var(--dark-blue-100);
}

.testimonials__card__info {
  font-family: inherit;
  font-size: 20px;
  line-height: 43px;
  padding-bottom: 25px;
}

.testimonials__card__author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonials__card__author-name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 8px;
}
/* /Testimonials */

/* Subscription */
.subscription {
  background-color: var(--dark-blue-200);
  padding: 80px 60px;
  margin-left: -30px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 700px;
  position: absolute;
  bottom: 1730px;
  box-shadow: 1px 10px 10px 10px #0a121f;
}

.subscription__title {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 30px;
}

.subscription__info {
  font-family: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
  text-align: center;
}

.subscription__form__input {
  background-color: var(--white);
  border: none;
  font-size: 28px;
  font-weight: 700;
  margin-top: 40px;
  padding-left: 60px;
  border-radius: 50px;
  height: 100px;
  width: 500px;
  white-space: nowrap;
  align-items: center;
}

.subscription__form__input::placeholder {
  font-size: 20px;
  font-weight: 200;
  color: hsl(216, 10%, 70%);
}

.subscription__form__btn {
  background-color: var(--cyan);
  color: var(--white);
  border: none;
  font-size: 28px;
  margin-top: 40px;
  border-radius: 50px;
  height: 100px;
  width: 500px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, var(--cyan), var(--blue));
}
/* /Subscription */

/* Footer */
.footer {
  padding-top: 500px;
  padding-bottom: 80px;
  background-color: var(--dark-blue-secondary);
}

.footer__address {
  padding-bottom: 30px;
}

.footer__address__brand-wrapper {
  padding-bottom: 70px;
}

.footer__address__brand {
  width: 370px;
  height: 100px;
}

.footer__address__logo {
  margin-right: 50px;
  padding-top: 10px;
}

.footer__contact {
  padding-bottom: 140px;
}

.footer__contact__logo {
  margin-right: 20px;
}

.team__info__btn-arrow {
  width: 30px;
  height: 30px;
}

.footer__contact__mobile {
  margin-top: 40px;
  padding-bottom: 40px;
}

.footer__contact__content {
  font-size: 28px;
  line-height: 43px;
}

.footer__links {
  padding-bottom: 100px;
}

.footer__links__items {
  padding-bottom: 50px;
}

.footer__links__item {
  font-size: 28px;
  line-height: 43px;
  padding-bottom: 30px;
}

.footer__social {
  justify-content: center;
  align-items: center;
}

.footer__social__item {
  font-size: 30px;
  padding: 10px 15px;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 20px;
}
/* /Footer */
/*********** /Mobile View ***********/

/*********** Desktop View ***********/
@media (min-width: 1280px) {
  .container {
    /* padding: 40px 30px; */
    max-width: 1200px;
    position: relative;
    /* background-color: var(--dark-blue-primary); */
  }

  .hero {
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
    align-items: center;
  }

  .features__wrapper {
    flex-direction: row;
  }

  .features__card__title {
    font-size: 30px;
  }

  .features__card__info {
    font-size: 20px;
  }

  .team {
    flex-direction: row;
  }

  .testimonials {
    flex-direction: row;
  }

  .testimonials__card:not(:first-child) {
    margin-left: 20px;
  }

  .testimonials__card__info {
    font-size: 14px;
    line-height: 22px;
  }

  .testimonials__card__author-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .testimonials__card__author-name {
    font-size: 12px;
    padding-bottom: 3px;
  }

  .testimonials__card__author-info {
    font-size: 10px;
  }

  .footer {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-container {
    max-width: 1270px;
    position: relative;
  }

  .footer__address {
    margin-right: 50px;
  }

  .footer__contact {
    flex-direction: row;
    margin-right: 50px;
  }

  .footer__location__logo,
  .footer__mobile__logo,
  .footer__mail__logo {
    width: 20px;
    height: 20px;
  }

  .footer__links {
    flex-direction: row;
    margin-right: 50px;
  }

  .footer__address__brand {
    width: 200px;
    height: 50px;
  }

  .footer__address__logo {
    margin-right: 50px;
    padding-top: 10px;
    width: 20px;
    height: 20px;
  }

  .footer__address__content {
    font-family: inherit;
    font-size: 28px;
    line-height: 43px;
  }

  .footer__contact {
    padding-bottom: 140px;
  }

  .footer__contact__mobile {
    padding-bottom: 40px;
  }

  .footer__contact__logo {
    margin-right: 50px;
    padding-top: 5px;
  }

  .footer__contact__content {
    font-family: inherit;
    font-size: 16px;
    line-height: 43px;
  }

  .footer__links {
    padding-bottom: 100px;
  }

  .footer__links__items {
    padding-bottom: 50px;
  }

  .footer__links__item {
    font-family: inherit;
    font-size: 16px;
    line-height: 43px;
    padding-bottom: 30px;
  }

  .footer__social {
    justify-content: center;
    align-items: center;
  }

  .footer__social__item {
    font-size: 30px;
    padding: 10px 15px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 20px;
  }
}
/*********** /Desktop View ***********/
